<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>
  <scriptBundle path="~/Scripts/js">
    <include path="~/Scripts/js/scripts.js"/>
     <include path="~/Scripts/js/pace.min.js"/>
     <include path="~/Scripts/js/jquery.nanoscroller.min.js"/>
     <include path="~/Scripts/js/moment.min.js"/>
  </scriptBundle>
</bundles>